/harbour-mensamax.pro.user
/.idea/
/test/qml/harbour-mensamax-qml-tests.pro.user
/icons/86x86/harbour-mensamax_original.png
/icons/108x108/harbour-mensamax_original.png
/icons/128x128/harbour-mensamax_original.png
/icons/172x172/harbour-mensamax_original.png
