[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-mensamax
Exec=harbour-mensamax
Name=MensaMax

[X-Sailjail]
OrganizationName=de.andreas-wuest-it-consulting
ApplicationName=harbour-mensamax
Permissions=Internet

[X-HarbourBackup]
BackupPathList=.local/share/de.andreas-wuest-it-consulting/harbour-mensamax/
BackupConfigList=/apps/harbour-mensamax/
